# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
/R/prem_analysis_files/figure-html
# Temporary files created by R markdown
*.utf8.md
*.knit.md
*.RDataTmp
*.RDataTmp1
# R Environment Variables
.Renviron
plots
NA
Rplot.png
plot_cooked_fish_MA.pdf
tree_CookedFish.png
/R/Final_data_analysis_cache
/R/Final_data_analysis_files/
/R/Final_data_analysis_files/figures-html

